<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Admin Home</title>
<link rel="stylesheet" type="text/css" href="/index.css">
</head>
<body>
 <div class="image-container">
    <img src="logo1.jpg" alt="My Image">
    <div class="form-overlay">
   
 <form action="addsong" >
 <input type="submit" value="ADD SONG">
 </form>
 <br/>
 <form action="viewsongs">
 <input type="submit" value="VIEW SONG">
 </form>
 <br/>
 <form action="createplaylists" >
 <input type="submit" value="CREATE PLAYLIST">
 </form>
 <br/>
  <form action="viewplaylist" >
 <input type="submit" value="VIEW PLAYLIST">
 </form>
 <br/>
 <form action="logout" >
 <input type="submit" value="LOGOUT">
 </form>
 </div>
 </div>
 
</body>
</html>