<!DOCTYPE html>
<html>
<head>
<title>Login Page</title>
<link rel="stylesheet" type="text/css" href="/index.css">
</head>
<body>
<div class="image-container">
    <img src="logo1.jpg" alt="My Image">
    <div class="form-overlay"> 
    
<form action="/validate" method="post">

<h2>Login Form</h2>

<label>Email:</label>
<input type="email" name="email" placeholder="Email id">
<br/>

<label>Password:</label>
<input type="text" name="password" placeholder="Password">
<br/>
<input type="submit" name="LOGIN">
</form>
</body>
</html>